.cursor-pointer{
    cursor: pointer;
}

.horario_option:hover {
    background-color: #f8f9fa; /* gris claro Bootstrap */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* sombra suave */
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
